<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p> 
  <div>
      <h1>{{message | titlecase}}</h1>
      <h3>{{amount | currency: 'USD' }}</h3>
  </div>

  <div class="alert alert-success"> 
    {{activities | json}}
    
</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>DueDate</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let activity of activities">
        <td>{{activity.id}}</td>
        <td>{{activity.title | titlecase}}</td>
        <td>{{activity.dueDate | date: 'short'}}</td>
        <td><div [ngSwitch] = "activity.status">
            <span *ngSwitchCase = "0">Not Completed</span>
            <span *ngSwitchCase = "1">Completed</span>
            <span *ngSwitchDefault>NA</span>
        </div></td>

      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
